.like_button {
    height: 24px;
    width: 24px;
    cursor: pointer;
    
}

.container{
    margin-bottom: 75px;
}

.vertical-center {
    min-height: 75vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}