@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <link rel="stylesheet" href="~/css/index.css" />
   @if (Spotify.IsInitialized) {
        <div class="shadow bg-light" id="player" data-toggle="tooltip" data-placement="bottom" title="Playing now">
            <div class="shadow" id="indexImageCover"></div>
            <div id="indexText">
                <div class="elip d-block"><span id="songName" style="font-size: 18px; font-weight:bold;">Loading...</span></div>
                <div class="elip"><span id="artistNames">&nbsp;</span></div>

            </div>
        </div>    
        <div class="pb-3"></div>
        <div class="sticky-top pt-3 pb-3 bg-body">
            <form class="my-auto d-inline w-100" id="searchForm" onsubmit="search(); return false;">
                <div class="input-group shadow">
                    <input class="form-control bg-light text-dark" type="text" placeholder="Search songs" id="searchBox" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning bg-light" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="searchResults" style="max-height: 0px; overflow: hidden;"></div>
        <div id="queueResults"></div>

    } else {
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <span class="mx-5">&nbsp;</span>
                <h1 class="text-center mb-4 mt-5">Nobody is playing music right now</h1>
                <h4 class="text-center">
                    If you have admin access you can login and start playing now!
                </h4>
                <div class="mt-4 text-center ">
                    <a class="btn btn-outline-warning" asp-page="/Admin/Player">Login</a>
                </div>
            </div>
        </div>
    }
    @section scripts{
        @if (!Request.Cookies.ContainsKey("HasToken")) {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
            <script onload="runGenerator();" type="text/javascript" src="@Url.Content("/js/tokenizer.js")"></script>
        }
        @if (Spotify.IsInitialized) {
            <script src="@Url.Content("/js/indexjs.js")"></script>
            <script>
                render();
                window.setInterval(function () {
                    render();
                }, 3000);
                $('[data-toggle="tooltip"]').tooltip();
                renderQueue();
                window.setInterval(function () { renderQueue() }, 1000);
            </script>
        }
    }
</div>
