@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

    @if (Spotify.IsInitialized) {
        <div class="shadow bg-light" id="player" data-toggle="tooltip" data-placement="bottom" title="Playing now" @if (Spotify.GetCurrentItem("") == null) { <text>style="display: none;"</text> }>

            <img class="shadow" id="indexImageCover" />
            <div id="indexText">
                <div style="padding: 20px 0;">
                    <div class="elip d-block"><span id="songName" style="font-size: 18px; font-weight:bold;">Loading...</span></div>
                    <div class="elip"><span id="artistNames">&nbsp;</span></div>
                </div>

            </div>
        </div>
        <form class="mx-3 my-auto d-inline w-100" id="searchForm">
            <div class=" input-group">
                <input class="form-control bg-light text-light" type="text" placeholder="Search songs" id="searchBox" />
                <div class="input-group-append">
                    <button class="btn btn-outline-warning bg-light" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div id="searchResults"></div>
        <div id="queueResults"></div>

    } else {
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <span class="mx-5">&nbsp;</span>
                <h1 class="text-center mb-4 mt-5">Nobody is playing music right now</h1>
                <h4 class="text-center">
                    If you have admin access you can login and start playing now!
                </h4>
                <div class="mt-4 text-center ">
                    <a class="btn btn-outline-warning" asp-page="/Admin/Player">Login</a>
                </div>
            </div>
        </div>
    }
    @section scripts{
        @if (!Request.Cookies.ContainsKey("HasToken")) {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
            <script onload="runGenerator();" type="text/javascript" src="@Url.Content("/js/tokenizer.js")"></script>
        }
        @if (Spotify.IsInitialized) {
            <script src="@Url.Content("/js/indexjs.js")"></script>
            <script>
                render();
                window.setInterval(function () {
                    render();
                }, 3000);
                $('[data-toggle="tooltip"]').tooltip();
                $.get('/?handler=GetQueue', function (data) {
                    $("#queueResults").html("")
                    $("#queueResults").html(data)
                });
                document.onload = setInterval(function () {
                    $.get('/?handler=GetQueue', function (data) {
                        $("#queueResults").html("")
                        $("#queueResults").html(data)
                    });

                }, 1500);
                $("#searchForm").submit(function (event) {
                    $.get('/?handler=Search&query=' + $("#searchBox").val(), function (data) {
                        $("#searchResults").html(data)
                    });
                    event.preventDefault();
                });
            </script>
        }
    }
</div>
