@page
@model Duckify.Pages.LicenceModel
@{
    ViewData["Title"] = "Licence";
}

<div class="row">
    <div class="offset-sm-1 col-10">
        <h1>Licence</h1>
        <div class=" mt-4">
            <h5>
                Detailed licence information is described at the project's <a href="https://github.com/Kaharonus/Duckify/blob/master/LICENSE.MD">Github</a> page.
                <br /><b>The tl;dr is that this website is open source and licenced under Apache Licence 2.0.</b>
            </h5>
            <h4>Open source libraries & APIs used:</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://developer.spotify.com/documentation/web-api/">Spotify API</a> - Thats where the songs come from.</li>
                <li class="list-group-item"><a href="https://developer.spotify.com/documentation/web-playback-sdk/">Spotify Web Playback SDK</a> - the SDK I use for playback</li>
                <li class="list-group-item"><a href="https://getbootstrap.com">Bootstrap</a> - I guess logic behind Bootswatch? I dunno really</li>
                <li class="list-group-item"><a href="https://bootswatch.com">Bootswatch</a> - light and dark theme</li>
                <li class="list-group-item"><a href="https://sendgrid.com">SendGrid</a> - C# lib for sending emails to users</li>
                <li class="list-group-item"><a href="https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers">AspNet.Security.OAuth.Spotify</a> - lib that makes auth with Spotify super simple</li>
                <li class="list-group-item"><a href="https://github.com/JohnnyCrazy/SpotifyAPI-NET/">SpotifyAPI-NET</a> - server side C# library with which I retrieve data from Spotify API</li>
                <li class="list-group-item"><a href="https://github.com/JMPerez/spotify-web-api-js">spotify-web-api-js</a> - javascript library that helps me with some playback controls</li>
                <li class="list-group-item"><a href="https://fontawesome.com">Font awesome</a> - any icons used throughout the application - except for the logo</li>


            </ul>

        </div>
    </div>
</div>

