@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="row mt-4">
    <div class="col-12">
        <h3>Data collection</h3>
        <div class="ml-3">
            <h4>Following personal data is collected from users:</h4>
            <ul>
                <li><b>Public & private IP address:</b> Used only for authentication. This information is never permanently stored and is never tied to any specific person.</li>
                <li>
                    <b>Information provided when you register:</b> Data that is used for distinguishing one user from another one. Contains information like email address or Spotify username.
                    If you are wondering how is this data stored on the server check out "Security" part of this page.
                </li>
            </ul>
            <p>We do store server logs, however no data that contain personal information is stored in those logs.</p>
            <p><b>Private data is not and will not be shared with 3rd parties.</b></p>
        </div>
    </div>
    <div class="col-12">
        <h3>Cookies</h3>
        <div class="ml-3">
            <p>
                Cookies will be saved to your computer when you view this webite. They are used for storing information about you.
                Example of this information might be if you use light or dark theme.
                In case you opt-out of using cookies (either block them in your web browser or you don't accept them) some features will be restricted and you won't be able to use them.
            </p>
        </div>
    </div>
    <div class="col-12">
        <h3>Comunication</h3>
        <p class="ml-3">
            No emails with purpose of advertisment will be sent to your email address.
            Only emails you will recieve will be important account managment messages or any important changes to the website.
            You will not be notified of changes to privacy policy
        </p>
    </div>
    <div class="col-12">
        <h3>Security</h3>
        <div class="ml-3">
            <p>Both your email address and Spotify username is stored as plaintext.</p>
            <p>
                Your passwords are hashed using PBKDF2 with HMAC-SHA256,  128-bit salt,  256-bit subkey over multiple thousand iterations.
                This means that not even administrators will be able to view your passwords.
            </p>
            <p>Private and public IP addresses are being sent to the server in an encrypted format.</p>
        </div>
    </div>
    <div class="col-12">
        <h3>Used 3rd party APIs</h3>
        <div class="ml-3">
            <p><a href="https://developer.spotify.com/documentation/web-api/">Spotify API</a> is being used for track search and info retrieval</p>
            <p>
                <a href="https://developer.spotify.com/documentation/web-playback-sdk/">Spotify Web Playback SDK</a> is used for playback.
                This SDK will load external scripts that we have no control over. Such scripts may include other 3rd party advertisments and analytics.
            </p>
        </div>
    </div>

</div>
