/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 10px;
    line-height: 1.428571429;
    vertical-align: top;
}


thead {
    border-top: hidden;
}



#playerImageCover {
    float: left;
    width: 125px;
    border-radius: 3px;
}

#player {
    border-radius: 3px;
}

#playerControls {
    display: block;
    padding: 18px 0;
    margin-left: 140px;
    height: 125px;
}

#logoutButton {
    float: right;
    margin-right: 8px;

}

#controlButtons{
    margin-top: 10px;
}
.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 80vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.footer-offset{
    height: 60px;
}

.table td.demo span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
}
.table td.demo {
    max-width: 0px;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 3px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%; 
  background: #ffc107;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffc107 ;
  cursor: pointer;
}