@page "/"
@using Microsoft.CodeAnalysis.Text
@using System.Timers
@inject SpotifyService Spotify
@using Duckify.Components;
@using Duckify.Services
@using SpotifyAPI.Web
<div class="container">
    <div class="md-form mt-0">
            <SpotifySearchComponent />
    </div>

</div>


@code{

    public Index() {

    }

   
}