@inherits LayoutComponentBase

<div class="navbar navbar-expand-sm fixed-bottom bg-dark navbar-dark">
    <NavMenu />
</div>

<div class="main">
    
    <div class="content px-4">
        @Body
    </div>
</div>
