@page
@model Duckify.Pages.Admin.PlayerModel
@{
    ViewData["Title"] = "Player";
}

<div>
    @{
        if (!Spotify.IsInitialized) {
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12">
                    <span class="mx-5">&nbsp;</span>

                    <h1 class="text-center mb-4 mt-5">Login to Spotify to continue</h1>
                    <form class="mt-4 text-center" method="POST">
                        <button class="btn btn-outline-success" type="submit" asp-page-handler="SpotifyLogin">Login</button>
                    </form>
                </div>
            </div>

        } else {
            <div class="shadow bg-light" id="player">
                <img class="shadow" id="playerImageCover" />
                <div id="playerControls">
                    <form class="d-inline" method="POST" id="logoutButton">
                        <button class="btn btn-outline-dark btn-sm fas fa-sign-out-alt" type="submit" asp-page-handler="SpotifyLogout"></button>
                    </form>
                    <div><b id="songName">Loading...</b></div>
                    <div id="artistNames">&nbsp;</div>

                    <div id="controlButtons">
                        <button class="btn btn-outline-dark d-inline btn-sm fas fa-play" onclick="pause()" id="pause"></button>
                        <button class="btn btn-outline-dark d-inline btn-sm fas fa-forward" onclick="next()"></button>
                        <input type="range" min="1" max="100" value="50" class="slider col-md-9 d-none d-md-inline" onchange="seek(this.value)" id="progressSlider">
                        <span id="progressText">0:00/0:00</span>
                        <button class="btn btn-outline-dark btn-sm fas fa-volume-up" id="mute" onclick="mute()"></button>

                    </div>
                </div>

            </div>

            <form class="mx-2 my-auto d-inline w-100" id="searchForm">
                <div class="input-group">
                    <input class="form-control bg-light" type="text" placeholder="Search songs" id="searchBox" />
                    <div class="input-group-append ">
                        <button class="btn btn-outline-warning bg-light" type="submit">Search</button>
                    </div>
                </div>
            </form>

                 
            <div id="searchResults"></div>
            <div id="queueResults"></div>

            @section scripts{
                <script src="@Url.Content("/js/player.js")"></script>
                <script src="@Url.Content("/js/spotify-web-api.js")"></script>
                <script>
                    var spotifyToken = "@Spotify.Client.AccessToken";
                    document.onload = waitForElement();
                    $("#searchForm").submit(function (event) {
                        $.get('/Admin/Player?handler=Search&query=' + $("#searchBox").val(), function (data) {
                            $("#searchResults").html(data)
                        });
                        event.preventDefault();
                    });
                    function goodbye(e) {
                        if (!e) e = window.event;
                        //e.cancelBubble is supported by IE - this will kill the bubbling process.
                        e.cancelBubble = true;
                        e.returnValue = 'Playback will STOP if you leave.'; //This is displayed on the dialog
                        //e.stopPropagation works in Firefox.
                        if (e.stopPropagation) {
                            e.stopPropagation();
                            e.preventDefault();
                        }
                    }
                    window.onbeforeunload = goodbye;
                </script>
                <script src="https://sdk.scdn.co/spotify-player.js"></script>
            }


        }
    }
</div>




