@page
@model Duckify.Pages.Admin.PlayerModel
@{
    ViewData["Title"] = "Player";
}

<div>
    @{
        if (!Spotify.IsInitialized) {
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12">
                    <h1 class="text-center mb-4 mt-5">Login to Spotify to continue</h1>
                    <form class="mt-4 text-center" method="POST">
                        <button class="btn btn-outline-success" type="submit" asp-page-handler="SpotifyLogin">Login</button>
                    </form>
                </div>
            </div>

        } else {
            <div>
                <form>
                    <tr></tr>
                    <tr></tr>
                </form>
                <img class="d-inline" id="playerImageCover" width="15%"/>
                <div class="w-75 ml-3">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                
            </div>
            
            <form class="col-12 text-center" method="POST">
                <button class="btn" type="submit" asp-page-handler="SpotifyLogout">Logout</button>
            </form>
            <form class="mx-2 my-auto d-inline w-100" id="searchForm">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Search songs" id="searchBox" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div id="searchResults"></div>
            <div id="queueResults"></div>

            @section scripts{
                <script src="@Url.Content("/js/player.js")"></script>
                <script src="@Url.Content("/js/spotify-web-api.js")"></script>
                <script>
                    document.onload = setInterval(function(){
                        $.get('/Admin/Player?handler=GetQueue', function (data) {
                            $("#queueResults").html("")
                            $("#queueResults").html(data)
                        });       

                    }, 1500);
                    
                    var spotifyToken = "@Spotify.Client.AccessToken";
                    $("#searchForm").submit(function (event) {
                        $.get('/Admin/Player?handler=Search&query=' + $("#searchBox").val(), function (data) {
                            $("#searchResults").html(data)
                        });                 
                        event.preventDefault();
                    });
                    function goodbye(e) {
                        if (!e) e = window.event;
                        //e.cancelBubble is supported by IE - this will kill the bubbling process.
                        e.cancelBubble = true;
                        e.returnValue = 'Playback will STOP if you leave.'; //This is displayed on the dialog                 
                        //e.stopPropagation works in Firefox.
                        if (e.stopPropagation) {
                            e.stopPropagation();
                            e.preventDefault();
                        }
                    }
                    window.onbeforeunload = goodbye;
                </script>
                <script src="https://sdk.scdn.co/spotify-player.js"></script>
            }


        }
    }
</div>




